
body {
  margin: 0 100px;
  font-size: 14px;
    @media screen and (max-width: 766px) {
     font-size:20px;
      width:100%;
      margin:0px;
    }
}
.container{
  padding:25px;

  @media screen and (max-width:766px){
    padding-top:20px;
  }
}

.navbar {
  position:absolute;
  right:85px;
  margin-top:20px;
}

.nav-button{
  background:white;
  border: none;
  font-size:20px;
}

.form{
  margin:10px;
  &.input{
    width:300px;
  }
  &.textarea{
    width:300px;
    height:100px;
  }
  &.button{
    background:white;
    border: 1px solid black;
    width:300px;
    height:50px;
    //border-radius: 4px;
   // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   // font-size:110%;
    //border: 1px solid black;
  }
  &.file-info{
    display:block;
  }
  :focus{
     background: white;
  }
}

.sound-list{

  margin-bottom: 20px;

}

.remover{
  position:absolute;
  right:85px;
}

.title{
  font-size:24px;
  display:inline;
}
.description{
  font-size:16px;
  display:block;
}

.date{
  display: inline;
  font-size:14px;
}

ul {
  list-style-type: none;
}
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #00003a;
}

/* mouse over link */
a:hover {
  color: #646464;
}

/* selected link */
a:active {
  color: #646453;
}
.download{
  margin-top:5px;
}
.media-button{
  margin: 0 5px;
  cursor: pointer;
  background:white;
  border:none;
}
.formen{
  padding-left:40px;
}
.media-buttons{
  margin-top:5px;


}  &.remove{
     position: absolute;
     right:85px;
     @media screen and (max-width: 766px) {
       display: none;
     }
   }
   &.confirm-remove{
     border: 1px solid black;
   }

