<form>
    <span class="form">Add new track</span>
    <div>
        <input ng-model="newPost.title" class="form input" placeholder="Track title...">
    </div>
    <div>
        <textarea ng-model="newPost.description" class="form textarea" placeholder="Description..."></textarea>
    </div>
    <div ng-click="publishPost">
        <input type="password" ng-model="newPost.password" class="form input" placeholder="Password...">
    </div>
    <button ng-click="publishPost()" class="form button">Submit</button>
</form>

{{newPost}}