<form name="submitform" novalidate class="formen">
    <span class="form">Add new track</span>
    <div>
        <input ng-model="newPost.title" class="form input" placeholder="Track title..." required>
    </div>
    <div>
        <textarea ng-model="newPost.description" class="form textarea" placeholder="Description..." required></textarea>
    </div>
    <div ng-click="publishPost">
        <input type="password" ng-model="newPost.password" class="form input" placeholder="Password..." required>
    </div>
    <div>
    <button class="form button" type="file"
    ng-file-select ng-model="file"
    ng-file-change="fileSelected($files, $event)"
    ng-multiple="false"
    ng-capture="'other'"
    accept=".mp3,.mp4,.wav,.flac">
        Choose mix <i class="fa fa-file-audio-o"></i>
    </button>
    </div>
    <div class="form" ng-show="file">
        <div class="file-info"><b>Name:</b> {{file[0].name}}</div>
        <div class="file-info"><b>Size:</b> {{file[0].size/1000000}} MB</div>
    </div>
    <button ng-disabled="submitform.$invalid" novalidate ng-click="publishPost()" class="form button">
        {{getPercentage()}} <i class="fa fa-upload"></i>
    </button>
</form>