<html ng-app="soundMixes">
    <head>
        <link href='main.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    </head>
    <body>

    <div class="navbar" ng-controller="MainCtrl">
        <a ng-click="newPost()" ng-hide="isActive('/newpost')"><button class="nav-button"><i class="fa fa-plus"></i></button></a>
        <a ng-click="run()" href="#/" ng-hide="isActive('/')"><button class="nav-button"><i class="fa fa-align-left"></i></button></a>
    </div>

    <div class="container">
        <h2>Sound Mixes <i class="fa fa-music"></i></h2>
        <div ui-view></div>
    </div>
    </body>

    <!--Vendors -->

    <!--(if target dist)><!-->
    <script type="text/javascript" src="bundle.js"></script>
    <!--<!(endif)-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>


    <!-- My app -->
    <!--(if target dev)><!-->


    <!--<!(endif)-->

</html>